@import 'css/settings';

.c-explore-datasets-actions {
    display: flex;
    background-color: white; // Ensure white background extends to bottom

    button {
        &:not(:last-child) {
            margin-right: $space;
        }
    }
}